html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(img/backdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo-allianz {
    max-height: 50px;
}

.logo-asn {
    max-height: 70px;
}

.footer {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    bottom: 0;
    color: white;
}

.footer-text {
    font-size: 25px;
}

.helpdesk {
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.helpdesk-img {
    max-width: 30px; 
    margin-right: 5px;
}

#helpdesk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpdesk-btn {
    background-color: gray; 
    max-width: 130px;
    border-radius: 20px;
    box-shadow: 2px 2px darkgrey;
}

.helpdesk-btn:hover {
    background-color: rgb(83, 83, 83);
}

.header-img {
    max-width: 600px;
    margin-bottom: 100px;
}

.countdown {
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.countdown div {
    flex-basis: 150px;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    margin: 10px;
    padding: 10px;
}

.countdown div p {
    font-size: 150px;
    margin-top: -40px;
    margin-bottom: -25px;
}

.footnote {
    font-size: 25px;
}

@media (max-width: 767.98px) {
    .logo {
        max-width: 100px;
    }

    .footer {   
        max-height: 120px;
    }

    .footer-text {
        font-size: 15px;
    }

    .helpdesk {
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 2px;
    }

    #helpdesk {
        display: block;
        padding: 5px;
    }

    .helpdesk-img {
        margin-top: 2px;
        margin-left: 4px;
        max-width: 25px;
    }

    .header-img {
        max-width: 300px;
    }

    #inner-border {
        max-width: 300px;
    }

    .countdown {
        font-weight: 600;
    }
    
    .countdown div {
        flex-basis: 50px;
        margin: 5px;
    }
    
    .countdown div p {
        font-size: 80px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .footnote {
        font-size: 20px;
    }
}

@media (max-height: 767.98px) {
    .countdown {
        font-weight: 400;
        margin-top: 10px;
    }

    .countdown div {
        flex-basis: 50px;
        margin: 2px;
    }
}